<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ADM Shoes Planet (Promo)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tollbar">
  <ion-searchbar animated="true" placeholder="search"></ion-searchbar>
  </div>
  <h2>2 For 1200</h2>


  <ion-card>
    <img src="/assets/vans.jpg">
    <ion-card-header>
      <ion-card-title>Vans Old Skool Checkboard</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-checkbox></ion-checkbox>
      <ion-item>
        <ion-select label="Size">
          <ion-select-option value="41">41</ion-select-option>
          <ion-select-option value="42">42</ion-select-option>
          <ion-select-option value="43">43</ion-select-option>
          <ion-select-option value="44">44</ion-select-option>
          <ion-select-option value="45">45</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Branch">
          <ion-select-option value="Lemery">Lemery</ion-select-option>
          <ion-select-option value="Cuenca">Cuenca</ion-select-option>
          <ion-select-option value="Nasugbu">Nasugbu</ion-select-option>
          <ion-select-option value="Lipa">Lipa</ion-select-option>
          <ion-select-option value="Silang">Silang</ion-select-option>
          <ion-select-option value="Tanauan">Tanauan</ion-select-option>
          <ion-select-option value="Talisay">Talisay</ion-select-option>
          <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
          <ion-select-option value="Balayan">Balayan</ion-select-option>
          <ion-select-option value="Bauan">Bauan</ion-select-option>
          <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <br>

  <ion-card>
    <img src="/assets/yez.jpg">
    <ion-card-header>
      <ion-card-title>Yeezy Boost 350</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-checkbox></ion-checkbox>
      <ion-item>
        <ion-select label="Size">
          <ion-select-option value="41">41</ion-select-option>
          <ion-select-option value="42">42</ion-select-option>
          <ion-select-option value="43">43</ion-select-option>
          <ion-select-option value="44">44</ion-select-option>
          <ion-select-option value="45">45</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Branch">
          <ion-select-option value="Lemery">Lemery</ion-select-option>
          <ion-select-option value="Cuenca">Cuenca</ion-select-option>
          <ion-select-option value="Nasugbu">Nasugbu</ion-select-option>
          <ion-select-option value="Lipa">Lipa</ion-select-option>
          <ion-select-option value="Silang">Silang</ion-select-option>
          <ion-select-option value="Tanauan">Tanauan</ion-select-option>
          <ion-select-option value="Talisay">Talisay</ion-select-option>
          <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
          <ion-select-option value="Balayan">Balayan</ion-select-option>
          <ion-select-option value="Bauan">Bauan</ion-select-option>
          <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <br>
  
  <ion-card>
    <img src="/assets/yezz.jpg">
    <ion-card-header>
      <ion-card-title>Yeezy Slides</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-checkbox></ion-checkbox>
      <ion-item>
        <ion-select label="Size">
          <ion-select-option value="41">41</ion-select-option>
          <ion-select-option value="42">42</ion-select-option>
          <ion-select-option value="43">43</ion-select-option>
          <ion-select-option value="44">44</ion-select-option>
          <ion-select-option value="45">45</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Branch">
          <ion-select-option value="Lemery">Lemery</ion-select-option>
          <ion-select-option value="Cuenca">Cuenca</ion-select-option>
          <ion-select-option value="Nasugbu">Nasugbu</ion-select-option>
          <ion-select-option value="Lipa">Lipa</ion-select-option>
          <ion-select-option value="Silang">Silang</ion-select-option>
          <ion-select-option value="Tanauan">Tanauan</ion-select-option>
          <ion-select-option value="Talisay">Talisay</ion-select-option>
          <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
          <ion-select-option value="Balayan">Balayan</ion-select-option>
          <ion-select-option value="Bauan">Bauan</ion-select-option>
          <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <br>
  
  <ion-card>
    <img src="/assets/add.avif">
    <ion-card-header>
      <ion-card-title>Adidas Adilette Aqua </ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-checkbox></ion-checkbox>
      <ion-item>
        <ion-select label="Size">
          <ion-select-option value="41">41</ion-select-option>
          <ion-select-option value="42">42</ion-select-option>
          <ion-select-option value="43">43</ion-select-option>
          <ion-select-option value="44">44</ion-select-option>
          <ion-select-option value="45">45</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Branch">
          <ion-select-option value="Lemery">Lemery</ion-select-option>
          <ion-select-option value="Cuenca">Cuenca</ion-select-option>
          <ion-select-option value="Nasugbu">Nasugbu</ion-select-option>
          <ion-select-option value="Lipa">Lipa</ion-select-option>
          <ion-select-option value="Silang">Silang</ion-select-option>
          <ion-select-option value="Tanauan">Tanauan</ion-select-option>
          <ion-select-option value="Talisay">Talisay</ion-select-option>
          <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
          <ion-select-option value="Balayan">Balayan</ion-select-option>
          <ion-select-option value="Bauan">Bauan</ion-select-option>
          <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <br>
  
  <ion-card>
    <img src="/assets/airj.webp">
    <ion-card-header>
      <ion-card-title>Air Jordan XXXVII Low</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-checkbox></ion-checkbox>
      <ion-item>
        <ion-select label="Size">
          <ion-select-option value="41">41</ion-select-option>
          <ion-select-option value="42">42</ion-select-option>
          <ion-select-option value="43">43</ion-select-option>
          <ion-select-option value="44">44</ion-select-option>
          <ion-select-option value="45">45</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Branch">
          <ion-select-option value="Lemery">Lemery</ion-select-option>
          <ion-select-option value="Cuenca">Cuenca</ion-select-option>
          <ion-select-option value="Nasugbu">Nasugbu</ion-select-option>
          <ion-select-option value="Lipa">Lipa</ion-select-option>
          <ion-select-option value="Silang">Silang</ion-select-option>
          <ion-select-option value="Tanauan">Tanauan</ion-select-option>
          <ion-select-option value="Talisay">Talisay</ion-select-option>
          <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
          <ion-select-option value="Balayan">Balayan</ion-select-option>
          <ion-select-option value="Bauan">Bauan</ion-select-option>
          <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>


  <br>
  <ion-button id="trigger-reserve8" slot="fixed">Add to cart</ion-button>
<ion-popover trigger="trigger-reserve8">
  <ng-template>
    <ion-content class="ion-padding">This item has been reserved</ion-content>
  </ng-template>
</ion-popover>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-icon color="primary" routerLink="/cart" name="cart-outline" aria-hidden="true" class="bottom-nav"></ion-icon>
        
      </ion-col>

      <ion-col>
        <ion-icon color="primary" routerLink="/brows" name="home-outline" aria-hidden="true" class="bottom-nav"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-icon color="primary" routerLink="/reserve" name="reader-outline" aria-hidden="true" class="bottom-nav"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-toolbar>
 
</ion-footer>