ion-content{
    --background: linear-gradient(to bottom, #ff9933 0%, #ff0000 100%);
  }

h3{
    text-align: center;
    color: #000000;
}

.head{
    text-align: center;
}

.label{
     padding: 2%;

}

.overview{
    text-align: center;
}

.text{
    color: #92949c;
}

ion-footer {
    text-align: center;
  }
ion-button{
    --border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}