<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Shopping Cart</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-card>

    <ion-list>
      <ion-checkbox></ion-checkbox>
      <ion-item>
        <ion-thumbnail slot="start"> 
          <img src="/assets/curry10.webp" />
        </ion-thumbnail>
        <ion-label>
          <ion-grid>
            <ion-row><h1><i>Curry Flow 10</i></h1>
                <ion-item>
                  <ion-select label="Branch: " placeholder="Lemery">
                    <ion-select-option value="Lemery">Lemery</ion-select-option>
                    <ion-select-option value="Cuenca">Cuenca</ion-select-option>
                    <ion-select-option [disabled]="true" value="Nasugbu">Nasugbu</ion-select-option>
                    <ion-select-option value="Lipa">Lipa</ion-select-option>
                    <ion-select-option [disabled]="true" value="Silang">Silang</ion-select-option>
                    <ion-select-option [disabled]="true" value="Tanauan">Tanauan</ion-select-option>
                    <ion-select-option value="Talisay">Talisay</ion-select-option>
                    <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                    <ion-select-option value="Balayan">Balayan</ion-select-option>
                    <ion-select-option value="Bauan">Bauan</ion-select-option>
                    <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                  </ion-select>
                </ion-item>
          
                <ion-item>
                  <ion-select label="Size: " placeholder="45">
                    <ion-select-option value="41">41</ion-select-option>
                    <ion-select-option value="42">42</ion-select-option>
                    <ion-select-option value="43">43</ion-select-option>
                    <ion-select-option value="44">44</ion-select-option>
                    <ion-select-option value="45">45</ion-select-option>
                  </ion-select>
                </ion-item>

            </ion-row>
          </ion-grid>
        </ion-label>
 
      </ion-item>
    </ion-list>    
</ion-card>


<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/slides.jpg" />
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Feinoar Slides</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Cuenca">
                  <ion-select-option [disabled]="true" value="Lemery">Lemery</ion-select-option>
                  <ion-select-option value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option value="Lipa">Lipa</ion-select-option>
                  <ion-select-option [disabled]="true" value="Silang">Silang</ion-select-option>
                  <ion-select-option [disabled]="true" value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option value="Talisay">Talisay</ion-select-option>
                  <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option [disabled]="true" value="Balayan">Balayan</ion-select-option>
                  <ion-select-option [disabled]="true" value="Bauan">Bauan</ion-select-option>
                  <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="44">
                  <ion-select-option value="41">41</ion-select-option>
                  <ion-select-option [disabled]="true" value="42">42</ion-select-option>
                  <ion-select-option [disabled]="true" value="43">43</ion-select-option>
                  <ion-select-option value="44">44</ion-select-option>
                  <ion-select-option value="45">45</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>

    </ion-item>
  </ion-list>    
</ion-card>

<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/KD.jpg"/>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Nike Zoom KD15</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Nasugbu">
                  <ion-select-option [disabled]="true" value="Lemery">Lemery</ion-select-option>
                  <ion-select-option value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option [disabled]="true" value="Lipa">Lipa</ion-select-option>
                  <ion-select-option [disabled]="true" value="Silang">Silang</ion-select-option>
                  <ion-select-option value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option value="Talisay">Talisay</ion-select-option>
                  <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option [disabled]="true" value="Balayan">Balayan</ion-select-option>
                  <ion-select-option value="Bauan">Bauan</ion-select-option>
                  <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="43">
                  <ion-select-option [disabled]="true" value="41">41</ion-select-option>
                  <ion-select-option value="42">42</ion-select-option>
                  <ion-select-option value="43">43</ion-select-option>
                  <ion-select-option value="44">44</ion-select-option>
                  <ion-select-option [disabled]="true" value="45">45</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>
    
    </ion-item>
  </ion-list>    
</ion-card>

<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/Airmax.webp"/>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Nike Air Max</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Lipa">
                  <ion-select-option [disabled]="true" value="Lemery">Lemery</ion-select-option>
                  <ion-select-option value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option value="Lipa">Lipa</ion-select-option>
                  <ion-select-option value="Silang">Silang</ion-select-option>
                  <ion-select-option [disabled]="true" value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option [disabled]="true" value="Talisay">Talisay</ion-select-option>
                  <ion-select-option [disabled]="true" value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option value="Balayan">Balayan</ion-select-option>
                  <ion-select-option value="Bauan">Bauan</ion-select-option>
                  <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="40">
                  <ion-select-option value="36">36</ion-select-option>
                  <ion-select-option value="37">37</ion-select-option>
                  <ion-select-option value="38">38</ion-select-option>
                  <ion-select-option [disabled]="true" value="39">39</ion-select-option>
                  <ion-select-option value="40">40</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>
     
    </ion-item>
  </ion-list>    
</ion-card>

<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/nikegamma.webp"/>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Nike Gamma Force</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Silang">
                  <ion-select-option value="Lemery">Lemery</ion-select-option>
                  <ion-select-option [disabled]="true" value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option [disabled]="true" value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option value="Lipa">Lipa</ion-select-option>
                  <ion-select-option value="Silang">Silang</ion-select-option>
                  <ion-select-option [disabled]="true" value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option [disabled]="true" value="Talisay">Talisay</ion-select-option>
                  <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option value="Balayan">Balayan</ion-select-option>
                  <ion-select-option value="Bauan">Bauan</ion-select-option>
                  <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="39">
                  <ion-select-option value="36">36</ion-select-option>
                  <ion-select-option [disabled]="true"  value="37">37</ion-select-option>
                  <ion-select-option [disabled]="true"  value="38">38</ion-select-option>
                  <ion-select-option value="39">39</ion-select-option>
                  <ion-select-option value="40">40</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>
     
    </ion-item>
  </ion-list>    
</ion-card>

<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/tre.jpg"/>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Tretorn</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Tanauan">
                  <ion-select-option value="Lemery">Lemery</ion-select-option>
                  <ion-select-option [disabled]="true" value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option [disabled]="true" value="Lipa">Lipa</ion-select-option>
                  <ion-select-option value="Silang">Silang</ion-select-option>
                  <ion-select-option value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option [disabled]="true" value="Talisay">Talisay</ion-select-option>
                  <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option value="Balayan">Balayan</ion-select-option>
                  <ion-select-option value="Bauan">Bauan</ion-select-option>
                  <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="38">
                  <ion-select-option value="36">36</ion-select-option>
                  <ion-select-option [disabled]="true"  value="37">37</ion-select-option>
                  <ion-select-option value="38">38</ion-select-option>
                  <ion-select-option value="39">39</ion-select-option>
                  <ion-select-option [disabled]="true"   value="40">40</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>
      
    </ion-item>
  </ion-list>    
</ion-card>

<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/kids1.webp"/>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Nike Star Runner 4</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Talisay">
                  <ion-select-option [disabled]="true" value="Lemery">Lemery</ion-select-option>
                  <ion-select-option value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option [disabled]="true" value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option [disabled]="true" value="Lipa">Lipa</ion-select-option>
                  <ion-select-option value="Silang">Silang</ion-select-option>
                  <ion-select-option value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option value="Talisay">Talisay</ion-select-option>
                  <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option value="Balayan">Balayan</ion-select-option>
                  <ion-select-option value="Bauan">Bauan</ion-select-option>
                  <ion-select-option [disabled]="true" value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="35">
                  <ion-select-option value="31">31</ion-select-option>
                  <ion-select-option value="32">32</ion-select-option>
                  <ion-select-option [disabled]="true" value="33">33</ion-select-option>
                  <ion-select-option [disabled]="true" value="34">34</ion-select-option>
                  <ion-select-option value="35">35</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>
      
    </ion-item>
  </ion-list>    
</ion-card>

<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/kids2.webp"/>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Nike Air Zoom Pegasus 40 PR</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Batangas City">
                  <ion-select-option value="Lemery">Lemery</ion-select-option>
                  <ion-select-option value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option [disabled]="true" value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option value="Lipa">Lipa</ion-select-option>
                  <ion-select-option [disabled]="true" value="Silang">Silang</ion-select-option>
                  <ion-select-option value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option value="Talisay">Talisay</ion-select-option>
                  <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option [disabled]="true" value="Balayan">Balayan</ion-select-option>
                  <ion-select-option [disabled]="true" value="Bauan">Bauan</ion-select-option>
                  <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="34">
                  <ion-select-option [disabled]="true" value="31">31</ion-select-option>
                  <ion-select-option [disabled]="true" value="32">32</ion-select-option>
                  <ion-select-option value="33">33</ion-select-option>
                  <ion-select-option value="34">34</ion-select-option>
                  <ion-select-option [disabled]="true" value="35">35</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>
 
    </ion-item>
  </ion-list>    
</ion-card>



<ion-toolbar>
  <ion-title><i>3 for 999</i></ion-title>
</ion-toolbar>

<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/kids2.webp"/>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Nike Air Zoom Pegasus 40 PR</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Batangas City">
                  <ion-select-option value="Lemery">Lemery</ion-select-option>
                  <ion-select-option value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option [disabled]="true" value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option value="Lipa">Lipa</ion-select-option>
                  <ion-select-option [disabled]="true" value="Silang">Silang</ion-select-option>
                  <ion-select-option value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option value="Talisay">Talisay</ion-select-option>
                  <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option [disabled]="true" value="Balayan">Balayan</ion-select-option>
                  <ion-select-option [disabled]="true" value="Bauan">Bauan</ion-select-option>
                  <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="34">
                  <ion-select-option [disabled]="true" value="31">31</ion-select-option>
                  <ion-select-option [disabled]="true" value="32">32</ion-select-option>
                  <ion-select-option value="33">33</ion-select-option>
                  <ion-select-option value="34">34</ion-select-option>
                  <ion-select-option [disabled]="true" value="35">35</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>
 
    </ion-item>
  </ion-list>    
</ion-card>

<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/kids2.webp"/>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Nike Air Zoom Pegasus 40 PR</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Batangas City">
                  <ion-select-option value="Lemery">Lemery</ion-select-option>
                  <ion-select-option value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option [disabled]="true" value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option value="Lipa">Lipa</ion-select-option>
                  <ion-select-option [disabled]="true" value="Silang">Silang</ion-select-option>
                  <ion-select-option value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option value="Talisay">Talisay</ion-select-option>
                  <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option [disabled]="true" value="Balayan">Balayan</ion-select-option>
                  <ion-select-option [disabled]="true" value="Bauan">Bauan</ion-select-option>
                  <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="34">
                  <ion-select-option [disabled]="true" value="31">31</ion-select-option>
                  <ion-select-option [disabled]="true" value="32">32</ion-select-option>
                  <ion-select-option value="33">33</ion-select-option>
                  <ion-select-option value="34">34</ion-select-option>
                  <ion-select-option [disabled]="true" value="35">35</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>
 
    </ion-item>
  </ion-list>    
</ion-card>

<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/kids2.webp"/>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Nike Air Zoom Pegasus 40 PR</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Batangas City">
                  <ion-select-option value="Lemery">Lemery</ion-select-option>
                  <ion-select-option value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option [disabled]="true" value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option value="Lipa">Lipa</ion-select-option>
                  <ion-select-option [disabled]="true" value="Silang">Silang</ion-select-option>
                  <ion-select-option value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option value="Talisay">Talisay</ion-select-option>
                  <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option [disabled]="true" value="Balayan">Balayan</ion-select-option>
                  <ion-select-option [disabled]="true" value="Bauan">Bauan</ion-select-option>
                  <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="34">
                  <ion-select-option [disabled]="true" value="31">31</ion-select-option>
                  <ion-select-option [disabled]="true" value="32">32</ion-select-option>
                  <ion-select-option value="33">33</ion-select-option>
                  <ion-select-option value="34">34</ion-select-option>
                  <ion-select-option [disabled]="true" value="35">35</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>
 
    </ion-item>
  </ion-list>    
</ion-card>

<ion-toolbar>
  <ion-title><i>2 for 1200</i></ion-title>
</ion-toolbar>

<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/kids2.webp"/>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Nike Air Zoom Pegasus 40 PR</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Batangas City">
                  <ion-select-option value="Lemery">Lemery</ion-select-option>
                  <ion-select-option value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option [disabled]="true" value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option value="Lipa">Lipa</ion-select-option>
                  <ion-select-option [disabled]="true" value="Silang">Silang</ion-select-option>
                  <ion-select-option value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option value="Talisay">Talisay</ion-select-option>
                  <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option [disabled]="true" value="Balayan">Balayan</ion-select-option>
                  <ion-select-option [disabled]="true" value="Bauan">Bauan</ion-select-option>
                  <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="34">
                  <ion-select-option [disabled]="true" value="31">31</ion-select-option>
                  <ion-select-option [disabled]="true" value="32">32</ion-select-option>
                  <ion-select-option value="33">33</ion-select-option>
                  <ion-select-option value="34">34</ion-select-option>
                  <ion-select-option [disabled]="true" value="35">35</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>
 
    </ion-item>
  </ion-list>    
</ion-card>

<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/kids2.webp"/>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Nike Air Zoom Pegasus 40 PR</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Batangas City">
                  <ion-select-option value="Lemery">Lemery</ion-select-option>
                  <ion-select-option value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option [disabled]="true" value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option value="Lipa">Lipa</ion-select-option>
                  <ion-select-option [disabled]="true" value="Silang">Silang</ion-select-option>
                  <ion-select-option value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option value="Talisay">Talisay</ion-select-option>
                  <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option [disabled]="true" value="Balayan">Balayan</ion-select-option>
                  <ion-select-option [disabled]="true" value="Bauan">Bauan</ion-select-option>
                  <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="34">
                  <ion-select-option [disabled]="true" value="31">31</ion-select-option>
                  <ion-select-option [disabled]="true" value="32">32</ion-select-option>
                  <ion-select-option value="33">33</ion-select-option>
                  <ion-select-option value="34">34</ion-select-option>
                  <ion-select-option [disabled]="true" value="35">35</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>
 
    </ion-item>
  </ion-list>    
</ion-card>

<ion-toolbar>
  <ion-title><i>2 for 3400</i></ion-title>
</ion-toolbar>

<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/kids2.webp"/>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Nike Air Zoom Pegasus 40 PR</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Batangas City">
                  <ion-select-option value="Lemery">Lemery</ion-select-option>
                  <ion-select-option value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option [disabled]="true" value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option value="Lipa">Lipa</ion-select-option>
                  <ion-select-option [disabled]="true" value="Silang">Silang</ion-select-option>
                  <ion-select-option value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option value="Talisay">Talisay</ion-select-option>
                  <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option [disabled]="true" value="Balayan">Balayan</ion-select-option>
                  <ion-select-option [disabled]="true" value="Bauan">Bauan</ion-select-option>
                  <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="34">
                  <ion-select-option [disabled]="true" value="31">31</ion-select-option>
                  <ion-select-option [disabled]="true" value="32">32</ion-select-option>
                  <ion-select-option value="33">33</ion-select-option>
                  <ion-select-option value="34">34</ion-select-option>
                  <ion-select-option [disabled]="true" value="35">35</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>
 
    </ion-item>
  </ion-list>    
</ion-card>

<ion-card>
  <ion-list>
    <ion-checkbox></ion-checkbox>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/kids2.webp"/>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row><h1><i>Nike Air Zoom Pegasus 40 PR</i></h1>
              <ion-item>
                <ion-select label="Branch: " placeholder="Batangas City">
                  <ion-select-option value="Lemery">Lemery</ion-select-option>
                  <ion-select-option value="Cuenca">Cuenca</ion-select-option>
                  <ion-select-option [disabled]="true" value="Nasugbu">Nasugbu</ion-select-option>
                  <ion-select-option value="Lipa">Lipa</ion-select-option>
                  <ion-select-option [disabled]="true" value="Silang">Silang</ion-select-option>
                  <ion-select-option value="Tanauan">Tanauan</ion-select-option>
                  <ion-select-option value="Talisay">Talisay</ion-select-option>
                  <ion-select-option value="BatangasCity">Batangas City</ion-select-option>
                  <ion-select-option [disabled]="true" value="Balayan">Balayan</ion-select-option>
                  <ion-select-option [disabled]="true" value="Bauan">Bauan</ion-select-option>
                  <ion-select-option value="Lemery2">Lemery 2</ion-select-option>
                </ion-select>
              </ion-item>
        
              <ion-item>
                <ion-select label="Size: " placeholder="34">
                  <ion-select-option [disabled]="true" value="31">31</ion-select-option>
                  <ion-select-option [disabled]="true" value="32">32</ion-select-option>
                  <ion-select-option value="33">33</ion-select-option>
                  <ion-select-option value="34">34</ion-select-option>
                  <ion-select-option [disabled]="true" value="35">35</ion-select-option>
                </ion-select>
              </ion-item>
        
          </ion-row>
        </ion-grid>
      </ion-label>
 
    </ion-item>
  </ion-list>    
</ion-card>

<ion-button id="trigger-reserve8" slot="fixed">RESERVE</ion-button>
<ion-popover trigger="trigger-reserve8">
  <ng-template>
    <ion-content class="ion-padding">This item has been reserved</ion-content>
  </ng-template>
</ion-popover>
</ion-content>


<ion-footer collapse="fade">
  <ion-toolbar>
  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-icon color="primary" routerLink="/cart" name="cart-outline" aria-hidden="true" class="bottom-nav"></ion-icon>
        
      </ion-col>

      <ion-col>
        <ion-icon color="primary" routerLink="/brows" name="home-outline" aria-hidden="true" class="bottom-nav"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-icon color="primary" routerLink="/reserve" name="reader-outline" aria-hidden="true" class="bottom-nav"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-toolbar>
</ion-footer>

